{% extends 'admin_dashboard/dashboard_base.html' %}
{% load static %}

{% block dashboard_content %}
<section class="px-4 py-4">
    <div class="text-center">
        <h2 class="pb-8 text-4xl font-bold text-mainred">Manage Cars</h2>
      </div>
    <div class="overflow-x-auto">
        <table class="table text-center">
          <!-- head -->
          <thead class=" text-lg ">
            <tr>
              <th>Image</th>
              <th>Title</th>
              <th>Brand</th>
              <th>Price</th>
              <th>Is Available</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->

            {% for car in cars %}
            <tr>
                <td>
                  <div class="flex items-center space-x-3">
                    <div class="avatar">
                      <div class="mask mask-squircle w-14 h-14">
                        <img src="{{ car.images.url }}" alt="{{ car.title }}" />
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  {{ car.title }}
                  
                </td>
                <td class=""><span class="bg-yellow-200 px-2 py-1 rounded-md">{{ car.brand }}</span></td>
                <td>${{ car.price }}</td>
                <th>{% if car.is_available %}
                   <span class=" bg-green-200 px-2 py-1 rounded-md"> Yes</span>
                {% else %}
                    <span class="bg-red-200 px-2 py-1 rounded-md">No</span>
                {% endif %}</th>
                <th>
                  <a href="{% url 'update_car' car.id %}" class="btn bg-mainred hover:bg-red-700 text-white btn-sm">Update</a>
                </th>
              </tr>
            {% endfor %}

            
           
          </tbody>
         
          
        </table>
      </div>
</section>
{% endblock %}