{% extends 'base.html' %}
{% load static %}


{% block content %}

    <section class="overflow-hidden container mx-auto px-2 py-20">
        <section class="overflow-hidden">
            <div class="max-w-6xl px-4 py-4 mx-auto">
                <div class="flex flex-wrap -mx-4">
                    <div class="w-full px-4 md:w-1/2 ">
                        <div class="sticky top-0 z-50 overflow-hidden ">
                            <div class="relative mb-6 lg:mb-10 lg:h-2/4 ">
                                <img src="{{ single_car.images.url }}" alt=""
                                    class="object-cover w-full lg:h-full ">
                            </div>
                            
                        </div>
                    </div>
                    <div class="w-full px-4 md:w-1/2 ">
                        <div class="lg:pl-20">
                            <div class="mb-2 ">
                                <span class="text-lg font-medium text-mainred">{{single_car.brand}}</span>
                                <h2 class="max-w-xl mt-2 mb-6 text-2xl font-bold text-maingray md:text-4xl">
                                    {{single_car.title}}</h2>
                                <p class="inline-block mb-2 text-4xl font-bold text-gray-700 dark:text-gray-400 ">
                                    <span>${{single_car.price}}</span>
                                </p>
                                
                            </div>
                            <div class="flex items-center mb-2">
                                <h2 class="w-16 mr-6 text-xl font-bold dark:text-gray-400">
                                    Color:</h2>
                                <div class="flex flex-wrap -mx-2 -mb-2">
                                    <span>{{single_car.color}}</span>
                                </div>
                            </div>
                            <div class="flex items-center mb-2">
                                <h2 class="w-16 mr-6 text-xl font-bold dark:text-gray-400">
                                    Model:</h2>
                                <div class="flex flex-wrap -mx-2 -mb-2">
                                    <span>{{single_car.model}}</span>
                                </div>
                            </div>
                            {% if not user.is_admin %}
                            <div class="mt-4">
                                <a
            class="block w-full bg-mainred text-white p-4 text-sm font-medium transition hover:bg-red-700 text-center cursor-pointer"
            href="{% url 'place_order' single_car.id %}"
          >
            Place Order
          </a>
                            </div>
                            {% endif %}
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="max-w-6xl px-4 py-4 mx-auto">
                <h2 class=" text-4xl font-bold text-mainred mb-6">Description</h2>
                <p>{{single_car.description}}</p>
            </div>

            {% if features_list %}
            <div class="max-w-6xl px-4 py-4 mx-auto">
                <h2 class=" text-4xl font-bold text-mainred mb-6">Key Features</h2>
                <ul class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8">
                    {% for feature in features_list %}
                      <div class="flex items-center gap-2">
                        <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#ef4444" d="m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4L9.55 18Z"/>
                        </svg>
                        <li class="">{{ feature|striptags|escape }}</li>
                      </div>
                     
                    {% endfor %}
                  </ul>
            </div>
            {% endif %}
        </section>
    
</section>
{% endblock %}