<footer class="footer p-10 bg-maingray text-white">
    <div>
      <div class="flex-1"><a href="{% url 'home' %}"><span class="font-bold text-white text-2xl">Car</span> <span class="font-bold text-mainred text-2xl">Zenith</span></a></div>
      <p>Car Zenith Ltd.<br/>Providing reliable Cars since 1992</p>
    </div> 
    <div>
      <span class="footer-title">Services</span> 
      <a class="link link-hover">Branding</a> 
      <a class="link link-hover">Design</a> 
      <a class="link link-hover">Marketing</a> 
      <a class="link link-hover">Advertisement</a>
    </div> 
    <div>
      <span class="footer-title">Company</span> 
      <a class="link link-hover">About us</a> 
      <a class="link link-hover">Contact</a> 
      <a class="link link-hover">Jobs</a> 
      <a class="link link-hover">Press kit</a>
    </div> 
    <div>
      <span class="footer-title">Legal</span> 
      <a class="link link-hover">Terms of use</a> 
      <a class="link link-hover">Privacy policy</a> 
      <a class="link link-hover">Cookie policy</a>
    </div>
  </footer>